.IconCol {
  background-color: #2f978a;
  text-align: center;
}

.statisticCol {
  background-color: #5ca199;
  color: white;
}

.statisticCol h6 {
  color: white;
  font-weight: 400;
}

.IconCol i {
  margin-top: 18px;
  color: white;
  font-size: 24px;
}

.adminDashboardCard {
  margin: 0 auto;
}

.SidebarMenuItem {
  border-bottom: 1px solid lightgray;
}

.SidebarMenuItem:hover {
  background-color: #f1f1f1;
}

.sidebarMenuIcon {
  width: 25px;
  height: 25px;
  margin: 0 7px;
  color: var(--primary-color);
}