.cover {
  background-image: url('/public/images/about.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 45vh;
  width: 100%;
  position: relative;
  z-index: -1;
}
.aboutUs h1,
.aboutUs h3 {
  font-weight: 600;
  padding: 20px 0;
}
.aboutUs .container {
  padding: 20px 0;
}
.lastLine {
  color: 'blue';
  font-size: '16px';
  font-weight: 'bold';
  text-align: 'center';
}
