.formContainer {
  padding: 60px 0 50px 0;
}
.Login,
.Register {
  width: 70%;
  margin: 0 auto;
  padding: 5px 60px 30px 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
  border-radius: 10px;
}

.Login h1,
.Register h2,
.Login h2 {
  font-weight: 600;
  text-align: center;
}
.Login h1 {
  margin: 30px 0;
}

.Login .form-control,
.Register .form-control,
.Register .form-select {
  border-radius: 20px;
  padding: 10px 20px;
  margin-left: -3px;
  background-color: rgb(240, 240, 240);
}
.input-group {
  position: relative;
}
.Login .loginIon {
  position: absolute;
  right: 3%;
  top: 30%;
  font-size: 18px;
  color: gray;
}

input:focus {
  border: 1px solid var(--primary-color);
  box-shadow: none;
}
.forgot,
.alreadyAccount {
  font-weight: 600;
  font-size: 16px;
  color: var(--headingColor);
  margin: 25px 0;
}
.forgot:hover,
.alreadyAccount:hover {
  text-decoration: underline;
}

.primaryBtn {
  padding: 7px 20px;
  border-radius: 6px;
}

@media only screen and (max-width: 992px) {
  .Login,
  .Register {
    width: 100%;
    padding: 10px 30px 30px 30px;
  }
}
