/* Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Robot slap font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap");

/* Google Nunito font */
/* @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap"); */
@import url("./media_Queries.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  width: 100%;
  overflow: auto;
}
::selection {
  background-color: var(--primary-color);
  color: #fff;
}
.container {
  width: 82%;
  margin: 0 auto;
}
p {
  color: var(--text-color);
  font-weight: 400;
}
input:focus,
.btn:focus,
select:focus,
.primaryBtn:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-family: "Roboto Slab", serif;
  color: #342d7e;
}

:root {
  --bgColor: #f1f5fd;
  --primary-color: #4f56ff;
  --text-color: #333333;
  --shadowColor: lightgray;
  --headingColor: #342d7e;
}

/* --------- Link ----------- */
a {
  text-decoration: none;
  color: #fff;
}

/* ------------------------------ Responsive media queries ------------------------------ */
@media (min-width: 1500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container.xxl {
    max-width: 1500px !important;
  }
}
